
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
  <head>
        <title>TweetMap</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta charset="utf-8">
        <title>Marker Clustering</title>
        <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        #map {
            height: 100%;
        }
        </style>
  </head>
  <body>
   <nav class="navbar  navbar-inverse  navbar-fixed-top">
  <div class="container">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
  <span class="sr-only"> Toggle navigation</span>
  <span class="icon-bar"> </span>
  <span class="icon-bar"> </span>
  <span class="icon-bar"> </span>
  </button>

      <a class="navbar-brand" href="#">TweetMap</a>
       <div class="navbar-collapse collapse">

           <ul class="nav navbar-nav navbar-right">



                         <form id="new_user_form">{% csrf_token %}

                           <div class="form-inline"  style="font-size: 3em; line-height: 1em;">



                        <select class="form-control" name="searchText" id="searchText">
                            <option value="select">Select</option>
                            <option value="love">Love</option>
                            <option value="job">Job</option>
                            <option value="work">Work</option>
                            <option value="new york">New York</option>
                            <option value="music">Music</option>
                            <option value="like">Like</option>
                            <option value="happy">Happy</option>
                            <option value="the">The</option>
                            <option value="photo">Photo</option>
                            <option value="time">Time</option>
                        </select>


                        <input type="submit" class="btn btn-default">
                                </div>

                        </form>

					 </ul>
			   </li>
		   </ul>
       </div>
  </div>
</nav>



     <div class="container">
       <div class="navbar-text pull=left">

	   </div>

	 </div>
   </div>




    </div>
      <ul class="nav navbar-nav navbar-right">
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

</header>
    <div id="map"></div>

        <script type = "text/javascript">
        var map;
        var features = [];
        function initMap() {

        map = new google.maps.Map(document.getElementById('map'),
        {
          zoom: 2 ,
          center: new google.maps.LatLng(40.3636, -4.1500),
          mapTypeId: 'roadmap'
        });

                var iconBase = 'https://maps.google.com/mapfiles/';
                var icons = {
                    positive: {
                    icon: iconBase + 'marker_green.png'
                    },
                    negative: {
                    icon: iconBase + 'marker_black.png'
                    },
                    neutral: {
                    icon: iconBase + 'marker_white.png'
                    }
            };

        function addMarker(feature) {
            var marker = new google.maps.Marker({
              position: feature.position,
            icon: icons[feature.type].icon,
            map: map
          });
        }

        for (var i = 0, feature; feature = features[i]; i++)
        {
          addMarker(feature);
        }
      }


        function plotMap()
        {
                var iconBase = 'https://maps.google.com/mapfiles/';
                var icons = {
                    positive: {
                    icon: iconBase + 'marker_green.png'
                    },
                    negative: {
                    icon: iconBase + 'marker_black.png'
                    },
                    neutral: {
                    icon: iconBase + 'marker_white.png'
                    }
            };

            function addMarker(feature){


          var marker = new google.maps.Marker({
              position: feature.position,
            icon: icons[feature.type].icon,
            map: map
          });
        }



        for (var i = 0, feature; feature = features[i]; i++) {
          addMarker(feature);
        }
        }

    </script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>


    <script  type="text/javascript">
    $(document).on('submit','#new_user_form',function loadmap(e) {
	    e.preventDefault();
	    initMap();
        features = [];
	    load(e);
    });

    function load(e){
	$.ajax({
            type:'POST',
            url:'user/create/',
            data:
            {
                searchString:$('#searchText option:selected').val(),
            },
            success:function(data)
            {
                var output = JSON.parse(data)
                for (var i = 0; i < output.length; i++ ) {
                    lat = output[i].lat
                    lng = output[i].lng
                    sentiment = output[i].sentiment
                    features.push({
                        position: new google.maps.LatLng(lng, lat),
                        type: sentiment
                    });
                }
                for(var result in output){
                    lat = result['lat']
                    lng = result['lng']
                    sentiment = result['sentiment']
                }
                plotMap();
                setTimeout(function(){ load(e);}, 1000);
            }
        });
	}



</script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqxLFSvL495HEEj28qiWEM7KvnATYUM1o&callback=initMap">
    </script>
  </body>
</html>
